<div class="sidebar-wrapper">
    <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light" src="/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="../assets/images/logo/logo_dark.png" alt=""></a>
      <div class="back-btn"><i class="fa fa-angle-left"></i></div>
      <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="/images/logo/logo-icon.png" alt=""></a></div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
      <div id="sidebar-menu">
        <ul class="sidebar-links custom-scrollbar">
          <li class="back-btn"><a href="index.html"><img class="img-fluid" src="/images/logo/logo-icon.png" alt=""></a>
            <div class="mobile-back text-right"><span>Back</span><i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="dashboard-02.html"><i data-feather="home"> </i><span>Dashboard</span></a></li>
          <li class="sidebar-list">
            <!-- <label class="badge badge-danger">New</label> -->
            <a class="sidebar-link sidebar-title" href="#">
              <i data-feather="box"></i>
              <span>Stock Count                </span>
            </a>
            <ul class="sidebar-submenu">
              <li><a href="/admin/activitylist">Activity List</a></li>
              <li><a href="/admin/dashboard">Create new count</a></li>
              <li><a href="/admin/wtoplan">WTO Planning</a></li>
            </ul>
          </li>
          <li class="sidebar-list">
            <!-- <label class="badge badge-danger">New</label> -->
            <a class="sidebar-link sidebar-title" href="#">
              <i data-feather="list"></i>
              <span>Master Data                </span>
            </a>
            <ul class="sidebar-submenu">
              <li><a href="/admin/costclass">Cost & Class</a></li>
              <li><a href="/admin/branch">Branch</a></li>
              <li><a href="/admin/location/list">Location</a></li>
              <li><a href="/admin/uom/list">UOM</a></li>
              <li><a href="/admin/recode/list">Recode</a></li>
              <li><a href="/admin/blackmarket/list">Blackmarket</a></li>
            </ul>
          </li>
          <li class="sidebar-list">
            <!-- <label class="badge badge-danger">New</label> -->
            <a class="sidebar-link sidebar-title" href="#">
              <i data-feather="file-text"></i>
              <span>Reports                </span>
            </a>
            <ul class="sidebar-submenu">
              <li><a href="report_variance.html">Variance Report</a></li>
              <li><a href="report_bookcount.html">Book Count Report</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="users"></i><span>Users</span></a>
            <ul class="sidebar-submenu">
              <li><a href="user-profile.html">Users Profile</a></li>
              <li><a href="edit-profile.html">Users Edit</a></li>
              <li><a href="user-cards.html">Users Cards</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="knowledgebase.html"><i data-feather="sunrise"> </i><span>Knowledgebase</span></a></li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="support-ticket.html"><i data-feather="users"> </i><span>Support</span></a></li>
        </ul>
      </div>
      <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </nav>
  </div>
