<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 footer-copyright text-center">
          <p class="mb-0">Copyright <span id="year"></span> © Amway  </p>
        </div>
      </div>
    </div>
</footer>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>